@model AppJobRecruitmentSystem.Models.RegisterCandidateViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    body, html {
        height: 100%;
        background-image: url("http://codea.org/wp-content/themes/i-max/images/default-bg.png");
        background-position: left top;
        background-size: auto;
        background-repeat: repeat;
        background-attachment: scroll;
        /*background-image: linear-gradient(rgb(61, 60, 75), rgb(103, 233, 187));*/
    }

    .container {
        background: white;
        margin-top: 40px;
        border: 5px solid #26a69a;
        height: auto;
        box-sizing: border-box;
        position: relative;
    }

    .col.s6 > .btn {
        width: 100%;
    }

    .gender-male, .gender-female {
        display: inline-block;
    }

    .gender-female {
        margin-left: 35px;
    }

    radio:required {
        border-color: red;
    }

    .container {
        animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
    }


    .row {
        margin-bottom: 10px;
    }

    .ngl {
        position: absolute;
        top: -20px;
        right: -20px;
    }
    .btn{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    }
</style>


<h2>Registro de candidatos</h2>

        @using (Html.BeginForm("RegisterCandidate", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.identification, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.identification, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Resume, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Resume, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Registrar" />
                            </div>
                        </div>
                    </div>

                </div>
    



     
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
