@model AppJobRecruitmentSystem.Entities.Candidate

<link href="~/Content/personaldata.css" rel="stylesheet" />

@{
    ViewBag.Title = "Mi curriculum";
}



       
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div  class="col-md-12 col-lg-12">
                        <h4>Mi curriculum</h4>
                        <hr />
                    </div>
                   
                    <div class="col-md-6 col-lg-6">
                        @Html.AntiForgeryToken()
                        
                        <div class="form-horizontal col-md-12">                           
                          

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.firtsname, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.firtsname, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                                    @Html.ValidationMessageFor(model => model.firtsname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                                    @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.identification, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.identification, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                                    @Html.ValidationMessageFor(model => model.identification, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(m => m.maritalStatus, new { @class = "col-md-12 control-label" })
                                <div class="col-md-12">
                                    @Html.DropDownList("maritalStatus", null, htmlAttributes: new { @class = "form-control col-md-12" })
                                </div>
                            </div>



                        </div>


                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.placeResidence, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.placeResidence, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                                @Html.ValidationMessageFor(model => model.placeResidence, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.birthdate, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.birthdate, new { htmlAttributes = new { @class = "form-control col-md-12 datepicker" } })
                                @Html.ValidationMessageFor(model => model.birthdate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                                @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                Subir curriculum word

                                <input type="file" id="imageUploadForm" name="image" multiple="multiple" />
                                <div class="loader"></div>

                                @Html.HiddenFor(model => model.resume, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                     
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input style="float:right" type="submit" style="margin-top:20px" value="Salvar" class="btn btn-default" />
                                </div>
                                </div>
                  

                            <br />
                        <h4>Curriculum en formato word</h4>
                        <hr />
                            <iframe id="resumen" src="" class="col-md-12 col-lg-12" height="500"></iframe>


                        </div>
                </div>
            }



             


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")


<script>
   /* var urlResume = "https://docs.google.com/file/d/" + $('#resume').val() + "/preview"*/
    /*$('#res').attr('src', urlResume);*/
    $(document).ready(function () {
        $('.loader').hide();
        $('#resumen').attr('src', '@Url.Action("getResume", "Candidates")');

            
        $("#imageUploadForm").change(function () {
            $('.loader').show();
            var formData = new FormData();
            var totalFiles = document.getElementById("imageUploadForm").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("imageUploadForm").files[i];
                var idCandidate = $('#id').val();
                formData.append("imageUploadForm", file);
                formData.append("id", idCandidate);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("Upload", "Candidates")',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    $('#resumen').attr('src', '@Url.Action("getResume", "Candidates")');
                    $('.loader').hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('.loader').hide();
                    alert(textStatus);
                    alert('No se subio el archivo');                    
                }
            });
        });


    });
</script>
        }
