@model IEnumerable<AppJobRecruitmentSystem.Entities.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_publication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enable_job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_company)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_publication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enable_job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_company)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
