@model IEnumerable<AppJobRecruitmentSystem.Entities.Job>
<script src="∼/Scripts/jquery.unobtrusive-ajax.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{ 
}
<p>
    @if ( User.IsInRole("company"))
    {
        @Html.ActionLink("Create New", "Create")
    }

</p>
<table class="table">
    <tr>
        @if (!User.IsInRole("company"))
        {
            <th>
                Empresa
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_publication)
        </th>
        @if (User.IsInRole("administrator") || User.IsInRole("company"))
        {
            <th>
                @Html.DisplayNameFor(model => model.enable_job)
            </th>
        }
        @if (User.IsInRole("candidate"))
        {
            <th>
              
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.category.name)
        </th>

        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.enable_job.Equals(true) || (User.IsInRole("administrator") || User.IsInRole("company")))
    {
        <tr>
            @if (!User.IsInRole("company"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.company.name)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description, new { id = "description" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_publication)
            </td>
            @if (User.IsInRole("administrator") || User.IsInRole("company"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.enable_job)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.category.name)
            </td>
            @if (User.IsInRole("candidate"))
            {
                <th>

                    <button class=enviar> Enviar Curriculum </button>

                </th>
            }
            @if (User.IsInRole("administrator") || User.IsInRole("company"))
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            }

            <td>
                @Html.Hidden("Iduser", (string)ViewBag.iduser)
                @Html.HiddenFor(modelItem => item.id)
                @Html.HiddenFor(modelItem => item.id_category)
            </td>

        </tr>
        ;
    }







}



</table>



@section Scripts {
    <script>

        var id_company = "";
        var Iduser = "";

        $(".enviar").click(function () {
            var $row = $(this).closest("tr"),       // Finds the closest row <tr> 
                $tds = $row.find("td");             // Finds all children <td> elements

            id_company = $tds.find("#item_id").val();
            Iduser = $tds.find("#Iduser").val();
            var das = 1 + 1;
        });


        $(function () {
            
            $(".enviar").click(function () {

                var jobAplicacion = {};
                jobAplicacion.id_candidate = Iduser;
                jobAplicacion.id_job = id_company;
                jobAplicacion.dateofaplication = getDate();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create","JobAplications")',
                    data: '{jobAplicacion: ' + JSON.stringify(jobAplicacion) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (Message) {
                        alert(Message.responseText);
                      
                    },
                    error: function (Message) {
                        alert(Message.responseText);
                    }
                });
                return false;
            });
        });

        function  getDate()
        {
            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = d.getFullYear() + '/' +
                (month < 10 ? '0' : '') + month + '/' +
                (day < 10 ? '0' : '') + day;

            return output;
        }

    </script>




}
