@model IEnumerable<AppJobRecruitmentSystem.Entities.JobAplicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_candidate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.candidate.firtsname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.candidate.identification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.candidate.resume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job.date_publication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateofaplication)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_candidate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.candidate.firtsname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.candidate.identification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.candidate.resume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job.date_publication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateofaplication)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
