<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bolsa de trabajo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

 
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">Bolsa de trabajo</a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Ofertas laborales", "Index", "Jobs")
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("candidate"))
                {
                    <li class="nav-item nav-link">
                        @Html.ActionLink("Mis postulaciones", "Index", "JobAplications")
                    </li>
                }

                <li class="nav-item dropdown">  
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Ayuda
                    </a>  
                    <div class="dropdown-menu">
                        @{ if (!User.IsInRole("company"))
                            {
                                <a class="dropdown-item" href="#">
                                    @Html.ActionLink("Manual ayuda candidato", "DownloadCandidateManual", "Candidates", null, htmlAttributes: new { @class = "dropdown-item" })
                                </a>
                            }
                        }
                        @{ if (!User.IsInRole("candidate"))
                            {
                                <a class="dropdown-item" href="#">
                                    @Html.ActionLink("Manual ayuda empresas", "DownloadCompanyManual", "Companies", null, htmlAttributes: new { @class = "dropdown-item" })
                                </a>
                            }
                        }


                    </div>

                </li>

            </ul>
            @Html.Partial("_LoginPartial")
          </div>
    </nav>

    <br /><br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bolsa de trabajo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script type="text/javascript">

    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });

    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $("#fecha").datepicker();
    });

    $(".filteroptions").hide();
    if (window.innerWidth < 500) {
        $(".loginactions").css("float", "left");
        $(".filter").click(function () {
            $(".filteroptions").toggle();
        });
    } else {
        $(".filteroptions").show();
        $(".loginactions").css("float", "right");
    }


    $(document).ready(function () {
        $(window).resize(function () {

            if (window.innerWidth < 500) {
                $(".loginactions").css("float", "left");
                $(".filter").click(function () {
                    $(".filteroptions").hide();
                    $(".filteroptions").toggle();
                });
            } else {
                $(".filteroptions").show();
                $(".loginactions").css("float", "right");
            }
        });
    });

    </script>

</body>
</html>

 