@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <div style="float:right">
            <ul class="navbar-nav mr-auto">

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        @User.Identity.GetUserName()
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            @Html.ActionLink("Cambiar clave", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                        </a>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                           Cerrar Sesion
                        </a>
                    </div>

                </li>

             </ul>
        </div>
    }
}
else
{
    <div style="float:right">
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
               Registro
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                         @Html.ActionLink("Registro de candidato", "RegisterCandidate", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })
                    </a>
                    <a class="dropdown-item" href="#">
                        @Html.ActionLink("Registro de empresa", "RegisterCompany", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })
                    </a>
                </div>

            </li>

                    @Html.ActionLink("Iniciar sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",@class= "nav-item nav-link" })
            
     



        </ul>
        </div>

        }
